<div class="container">

  <%= render @post %>

  <h1></h1>
  <h1></h1>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-secondary" %>
    <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
    <h1></h1>
    <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-primary" %>
  </div>
</div>

<br>
x
<div class="container">
  <%= render 'comments/form', post: @post %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>
